<form id="search_form" class="search_form" action="/add-comment" method="POST">
    <input id="search_form_name" class="input_field search_form_name" type="text" placeholder="Nombre y Apellido" required="Nombre" data-error="Name is required.">
    <input id="search_form_category" class="input_field search_form_category" type="text" placeholder="Correo electronico">
    <textarea class="comment_field form-control" rows="5" id="comment" placeholder="Coméntanos..."></textarea>
    <button id="search_submit_button" type="submit" class="search_submit_button trans_200" value="Enviar">Enviar</button>
</form>